header {
  .sticky {
    width: 100%;
    left: calc(50% - 1290px/2);
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 25px;
  margin-top: 75px;

  .logo {
    align-self: flex-start;
  }
  
  .links {
    align-self: flex-end;
  
    ul {
      list-style: none;
      display: inline;
    }
    li {
      display: inline;
      color: #9B9B9B;
      margin-left: 20px;
    }

    a{
      text-decoration: none;
    }
  }
}
