.Recipe-section {
  background-image: url("../img/cake-background.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #FAFAFA;
  height: 800px;
  min-height: 800px;

  .Recipe-grid {
    display: flex;
    align-items: center;
    height: 100%
  }

  .Recipe-content {
    .Recipe-button button {
      border:none;
      background: transparent;
    }

    .Recipe-title {
      font-family: Playfair Display;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 80px;
      color: #000;
    }

    .Recipe-text {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      color:#5E5B69;
      margin-bottom: 30px;
    }
  }
}